<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!-- 안쓰면 디폴트값 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

<!-- schedule_id <<<< scheduleid 기본값 false -->

</configuration>